@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Outfit:wght@700&family=Poppins&family=Press+Start+2P&display=swap');
@import url(../styles/interFont.css);

body {
    main {
        .hero {
            margin-bottom: 100px;
            position: relative;
            background-image: url(../assets/starsLeft.png), url(../assets/starsRight.png), url(../assets/curleBack.png), ;
            background-repeat: no-repeat;
            background-size: 360px 184px, 360px 371px, cover;
            background-position: left 3% top 118px, right 6% top 2px, center center;
            .container {
                .hero-wrapper {
                    color: #FFF;
                    text-align: center;
                    font-family: Poppins;
                    padding: 100px 223px 135px 223px;
                    h1 {
                        font-size: 40px;
                        font-weight: 600;
                        line-height: 56px;
                        margin-bottom: 24px;
                        span {
                            color: #0086D6;
                        }
                    }
                    p {
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 153.5%;
                    }
                }
            }
        }
        // !!!!!!!!!!!!!!!!
        // ANOTHER WAY TO DO DOUBLE BACKGROUND IMG STYLE
        // !!!!!!!!!!!!!!!
        //
        // .hero::after {
        //     content: "";
        //     position: absolute;
        //     width: 360px;
        //     height: 371px;
        //     object-fit: cover;
        //     top: 118px;
        //     left: 5%;
        //     z-index: 24;
        //     background: url(../assets/starsLeft.png) 0 0 no-repeat;
        //     transform: rotate(0);
        // }
        // .hero::before {
        //     content: "";
        //     position: absolute;
        //     width: 360px;
        //     height: 371px;
        //     object-fit: cover;
        //     top: 0;
        //     right: 5%;
        //     z-index: 24;
        //     background: url(../assets/starsRight.png) 0 0 no-repeat;
        //     transform: rotate(0);
        // }


        .growing {
            margin: 70px 0 125px 0;
            .container {
                .growing-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h2 {
                        color: #333E44;
                        font-family: Poppins;
                        font-size: 36px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 32px; /* 88.889% */
                        letter-spacing: 0.2px;
                        text-align: center;
                        margin-bottom: 24px;
                    }
                    p {
                        color: #475E69;
                        text-align: center;
                        font-family: Poppins;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 27px */
                        width: 57ch;
                        max-width: 90%;
                    }
                    .team-imgs {
                        margin-top: 77px;
                        position: relative;
                        height: 505px;
                        width: 821px;
                        max-width: 100%;
                        img {
                            position: absolute;
                        }
                        img:nth-child(1) {
                            top: 0;
                            right: 130px;
                            z-index: 4;
                        }
                        img:nth-child(2) {
                            top: 191px;
                            z-index: 6;
                        }
                        img:nth-child(3) {
                            top: 201px;
                            right: 0;
                            z-index: 0;
                        }
                    }
                }
            }
        }
        .employees {
            margin-bottom: 88px;
            .container {
                h2 {
                    color: #333E44;
                    font-family: Poppins;
                    font-size: 36px;
                    font-weight: 600;
                    line-height: 32px; /* 88.889% */
                    letter-spacing: 0.2px;
                    text-align: center;
                    margin-bottom: 1rem;
                }
                .team-subheading {
                    color: #475E69;
                    text-align: center;
                    font-family: Poppins;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 150%; /* 27px */
                }
                .employee-cards {
                    margin-top: 50px;
                    display: grid;
                    column-gap: 79px;
                    grid-template-columns: 1fr 1fr 1fr;
                    .employee {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .name {
                            margin: 1.5rem 0 0.5rem 0;
                            color: #1F2E35;
                            font-family: Poppins;
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 24px; /* 100% */
                            letter-spacing: 0.2px;
                        }
                        .position {
                            color: #0086D6;
                            text-align: center;
                            font-family: Poppins;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 27px; /* 168.75% */
                            letter-spacing: 0.2px;
                            margin-bottom: 12px;
                        }
                        .description {
                            color: #30444E;
                            text-align: center;
                            font-family: Poppins;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 27px; /* 168.75% */
                            letter-spacing: 0.2px;
                            margin-bottom: 0.5rem;
                        }
                        .social-links {
                            margin-top: auto;
                            a {
                                color: #1F2E35;
                                font-family: Poppins;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 24px; /* 171.429% */
                                letter-spacing: 0.2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    body {
        main {
            .hero {
                background-image: url(../assets/curleBack.png);
                background-position: 7% 165%;
    background-size: 200% 100%;
                .container {
                    .hero-wrapper {
                        padding: 67px 0px 110px 0px;
                        h1 {
                            font-size: 36px;
                        }
                        p {

                        }
                    }
                }
            }
            .growing {
                .container {
                    .growing-wrapper {
                        .team-imgs {
                            img {
                                transform: scale(0.8);
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 800px) {
    body {
        main {
            margin-top: 70px;
            .growing {
                .container {
                    .growing-wrapper {
                        h2 {
                            font-size: 36px;
                            margin-bottom: 16px;
                        }
                        .team-imgs {
                            height: 300px;
                            img {
                                transform: scale(0.6);
                            }
                            img:nth-child(1) {
                                right: 80px;
                            }
                            img:nth-child(2) {
                                top: 110px;
                            }
                            img:nth-child(3) {
                                top: 110px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 700px) {
    body {
        main {
            
            .growing {
                .container {
                    .growing-wrapper {
                        .team-imgs {
                            img {
                            }
                            img:nth-child(1) {
                                right: 10%;
                            }
                            img:nth-child(2) {
                                left: -10%;
                            }
                            img:nth-child(3) {
                                right: -10%;
                            }
                        }
                    }
                }
            }
            .employees {
                .container {
                    .employee-cards {
                        grid-template-columns: 1fr;
                        row-gap: 50px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 580px) {
    body {
        main {
            .growing {
                .container {
                    .growing-wrapper {
                        .team-imgs {
                            img {
                                transform: scale(0.5);
                            }
                            img:nth-child(1) {
                                right: -10px;
                            }
                            img:nth-child(2) {
                                left: -15%;
                            }
                            img:nth-child(3) {
                                right: -15%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 490px) {
    body {
        main {
            .growing {
                .container {
                    .growing-wrapper {
                        .team-imgs {
                            img:nth-child(1) {
                                right: -50px;
                                transform: scale(0.5);
                            }
                            img:nth-child(2) {
                                left: -25%;
                                
                            }
                            img:nth-child(3) {
                                right: -25%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 440px) {
    body {
        main {
            .growing {
                .container {
                    .growing-wrapper {
                        .team-imgs {
                            img:nth-child(1) {
                                right: -70px;
                                transform: scale(0.5);
                            }
                            img:nth-child(2) {
                                left: -25%;
                                
                            }
                            img:nth-child(3) {
                                right: -25%;
                            }
                        }
                    }
                }
            }
        }
    }
}