.card {
    cursor: pointer;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    .card-body {
        .card-heading {
            display: flex;
            justify-content: space-between;
            h3 {
                color: #333E44;
                font-family: Poppins;
                font-size: 28px;
                font-weight: 500;
                line-height: 150%; /* 42px */
            }
            span {
                font-family: Poppins;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px; /* 177.778% */
                letter-spacing: 0.2px;
                text-transform: uppercase;
            }
            .free {
                color: #20C08B;
            }
            .premium {
                color: #FFC942;
            }

            .free30 {
                color: #009BFF;
            }
        }
        .card-text {
            color: #475E69;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 25.6px;
            margin-bottom: 1rem;
        }
        .marks {
            display: flex;
            gap: 1rem;
            .mark {
                border-radius: 4px;
                background: #E1EBFB;
                display: inline-block;
                padding: 0 10px;
                span {
                    color: #0086D6;
                    font-family: Poppins;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 32px;
                    letter-spacing: 0.2px;
                }
            }
        }
    }
}
.card:hover {
    box-shadow: 0px 32px 56px 0px rgba(0, 0, 0, 0.08);
}