@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Outfit:wght@700&family=Poppins&family=Press+Start+2P&display=swap');
@import url(../styles/interFont.css);

@mixin generateLinearAnimation($name) {
    animation-name: $name;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@mixin generateRotate($deg) {
    from {
        transform: rotate($deg);
    }

    to {
        transform: rotate($deg+360deg);
    }
}

$purple: #335EF7;
$light-blue: #E6EEFF;
$black: #1F2E35;
$dark-grey: #30444E;
$black-grey: #3D3D3D;





body {
    header {
        nav {
            position: fixed;
            z-index: 100;
            top: 0;
            width: 100%;
            background-color: $black;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            .container {
                .main-nav {
                    display: flex;
                    justify-content: space-between;
                    padding: 18px 0;

                    .menu-btns {
                        display: flex;
                        gap: 89px;
                        align-items: center;

                        ul {
                            display: flex;
                            gap: 77px;

                            li {
                                a {
                                    text-transform: uppercase;
                                    font-family: Poppins;
                                    font-size: 18px;
                                    line-height: 32px;
                                    color: white;
                                }
                            }

                            .active {
                                font-weight: 600;
                            }
                        }

                        .btns {
                            display: flex;
                            gap: 15px;

                            a {
                                text-transform: capitalize;
                                color: #FFF;
                                font-family: Poppins;
                                font-size: 18px;
                                font-weight: 500;
                                line-height: 19.5px;
                                letter-spacing: 0.2px;
                                border-radius: 8px;
                                background: #0086D6;
                                padding: 10px 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    .temporary {
        .hero {
            margin-top: 80px;
            background-color: $black;
            padding: 112px 0 112px 0;

            .container {
                .hero-in {
                    display: flex;
                    justify-content: space-between;

                    .hero-content {
                        width: 48%;

                        .hero-h {
                            color: #FFF;
                            font-family: Poppins;
                            font-size: 40px;
                            font-weight: 600;
                            line-height: 61px;
                            letter-spacing: 0.2px;
                            margin-bottom: 1rem;
                        }

                        .hero-p {
                            color: #FFF;
                            font-family: Poppins;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 36.5px;
                            letter-spacing: 0.2px;
                            margin-bottom: 23px;
                        }

                        button {
                            color: #FFF;
                            font-family: Poppins;
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 61px;
                            letter-spacing: 0.2px;
                            text-transform: capitalize;
                            padding: 0 27px;
                            border: 0;
                            border-radius: 8px;
                            background: #0086D6;
                            margin-bottom: 52px;
                        }

                        .users {
                            display: flex;
                            align-items: center;

                            .ovals {
                                position: relative;

                                img:nth-child(2) {
                                    position: absolute;
                                    left: 23px;
                                }
                            }

                            p {
                                display: inline-block;
                                margin-left: 34px;
                                color: #FFF;
                                font-family: Poppins;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: normal;

                                #user-num {
                                    color: #0086D6;
                                    font-weight: 500;
                                }
                            }
                        }
                    }

                    .logo-animations {
                        width: 39.2%;
                        height: 446px;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .background-img {
                            position: absolute;
                            top: 0;
                            right: 0;
                            @include generateLinearAnimation(rotateL);
                        }

                        .centre {
                            width: 140px;
                            height: 155px;
                            object-fit: cover;
                        }

                        .pseudo-rotate {
                            position: absolute;

                            .pseudo-inside {
                                position: absolute;

                                .on-circle {
                                    position: absolute;
                                    width: 102px;
                                    height: 102px;
                                    padding: 20px 23px;
                                    border-radius: 100px;
                                    background: #333E44;
                                    top: 0;
                                    left: 50%;
                                    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.16);

                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }

                            .rotate0 {
                                .on-circle {
                                    transform: translate(-50%, -110%) rotate(0deg);
                                }
                            }

                            .rotate60 {
                                transform: rotate(60deg);

                                .on-circle {
                                    transform: translate(-50%, -110%) rotate(-60deg);
                                }
                            }

                            .rotate120 {
                                transform: rotate(120deg);

                                .on-circle {
                                    transform: translate(-50%, -110%) rotate(-120deg);
                                }
                            }

                            .rotate180 {
                                transform: rotate(180deg);

                                .on-circle {
                                    transform: translate(-50%, -110%) rotate(-180deg);
                                }
                            }

                            .rotate240 {
                                transform: rotate(240deg);

                                .on-circle {
                                    transform: translate(-50%, -110%) rotate(-240deg);
                                }
                            }

                            .rotate300 {
                                transform: rotate(300deg);

                                .on-circle {
                                    transform: translate(-50%, -110%) rotate(60deg);
                                }
                            }
                        }
                    }
                }
            }
        }

        main {
            .section-defaults {
                .section-heading {
                    color: #333E44;
                }

                .section-subheading {
                    color: #475E69;
                }

                .select-wrapper {
                    display: flex;
                    justify-content: center;

                    .select-all {
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 32px;
                        /* 160% */
                        letter-spacing: 0.2px;
                        border-radius: 8px;
                        background: #333E44;
                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
                        padding: 7px 47px 6px 44px;
                    }
                }
            }

            .popular-tools {
                margin-top: 70px;

                .container {
                    .statistics {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        column-gap: 30px;

                        .statistic {
                            max-width: 100%;
                            padding: 24px 49px 22px 49px;

                            .number {
                                text-align: center;
                                color: #0086D6;
                                font-family: Poppins;
                                font-size: 32px;
                                font-weight: 600;
                                line-height: 150%;
                                margin-bottom: 8px;
                            }

                            h3 {
                                text-align: center;
                                color: #333E44;
                                font-family: Poppins;
                                font-size: 24px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 150%;
                                margin-bottom: 1rem;
                            }

                            .statistic-text {
                                color: #475E69;
                                text-align: center;
                                font-family: Poppins;
                                font-size: 18px;
                                font-weight: 400;
                                line-height: 155%;
                                /* 27.9px */
                            }
                        }

                        .statistic:nth-child(2) {
                            .number {
                                color: #2BA093;
                            }
                        }

                        .statistic:nth-child(3) {
                            .number {
                                color: #F36;
                            }
                        }
                    }

                    .popular {
                        margin-top: 120px;

                        .card-grid {
                            display: grid;
                            grid-template-columns: 1fr auto 1fr;
                            column-gap: 1rem;
                            margin: 42px 0 39px 0;

                            .card {
                                height: fit-content;
                                align-self: center;
                                width: 360px;
                                max-width: 100%;
                                padding: 20px 21px 21px 20px;

                                .card-body {
                                    .card-heading {
                                        margin: 28px 0 8px 0;
                                    }
                                }

                                .img-wrapper {
                                    border-radius: 5px;
                                    background: #F5F5F5;
                                    padding: 44px 0;
                                    display: flex;
                                    justify-content: center;
                                }

                            }

                            .middle {
                                height: 100%;
                                padding-bottom: 43px;
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .comer-tools {
                background: #F9F9F9;

                .container {
                    .popular {
                        padding: 50px 0 51px 0;
                        margin-top: 79px;

                        .card-grid {
                            margin: 53px 0 50px 0;
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            row-gap: 50px;
                            column-gap: 50px;

                            .card {
                                display: flex;
                                gap: 24px;
                                align-items: center;
                                padding: 37px 23px 30px 24px;

                                .card-body {
                                    .card-heading {
                                        margin-bottom: 8px;
                                    }
                                }

                                .img-wrapper {
                                    min-width: 120px;
                                    height: 120px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 4px;
                                    background: #F5F5F5;
                                }

                                .marks {
                                    .mark {
                                        span {
                                            color: #335EF7;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .trusted {
                padding: 88px 0 30px 0;
                margin-bottom: 50px;

                .container {
                    .brands {
                        .section-heading {}

                        .section-subheading {}

                        .brand-grid {
                            margin-top: 2rem;
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            column-gap: 30px;

                            .brand {
                                width: 100%;
                                cursor: pointer;
                                display: flex;
                                padding: 2rem 13px 0 18px;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;

                                img {
                                    margin-bottom: 20px;
                                }

                                p {
                                    color: #475E69;
                                    text-align: center;
                                    font-family: Inter;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 28px;
                                    /* 175% */
                                    letter-spacing: 0.3px;
                                }
                            }

                            .brand:hover {
                                border-radius: 8px;
                                background: var(--Light-White, #FFF);
                                box-shadow: 0px 8px 50px 0px rgba(0, 0, 0, 0.10);
                            }
                        }
                    }
                }
            }

            .testimonials {
                background: #F9F9F9;
                padding: 50px 0 72px 0;

                .container {
                    .testimonials-body {
                        .section-subheading {
                            margin-bottom: 43px;
                        }

                        .testimonial-grid {
                            display: grid;
                            grid-template-columns: 1fr auto 1fr;
                            column-gap: 20px;

                            .testimonial {
                                height: fit-content;
                                align-self: center;
                                width: 360px;
                                max-width: 100%;
                                padding: 24px 20px 25px 24px;
                                border-radius: 8px;
                                border: 1px solid #DEDEDE;
                                background: var(--light-background, #FFF);
                                box-shadow: 0px 16px 50px 0px rgba(0, 0, 0, 0.08);

                                .stars {
                                    margin-bottom: 21px;
                                }

                                .testimonial-text {
                                    color: #475E69;
                                    font-family: Poppins;
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 27px;
                                    /* 168.75% */
                                    letter-spacing: 0.2px;
                                    margin-bottom: 10px;
                                }

                                .profile {
                                    display: flex;
                                    align-items: center;
                                    gap: 1rem;

                                    img {
                                        width: 64px;
                                        height: 64px;
                                        border-radius: 50%;
                                    }

                                    .profile-body {
                                        font-family: Poppins;
                                        line-height: 24px;
                                        /* 133.333% */
                                        letter-spacing: 0.2px;

                                        .name {
                                            color: #333E44;
                                            font-size: 18px;
                                            font-weight: 600;
                                        }

                                        .profession {
                                            color: #30444E;
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }

                            .middle {
                                height: 100%;
                                width: 100%;
                                padding-bottom: 40px;

                                .profile {
                                    gap: 26px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        .footer-subscription {
            background: #1F2E35;

            .container {
                .subscribe {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 40px 0 46px 0;

                    .section-defaults {
                        margin-bottom: 2rem;

                        h2 {
                            margin-bottom: 24px;
                        }

                        h2,
                        h4 {
                            color: white;
                        }
                    }

                    form {
                        display: flex;
                        gap: 13px;
                        input {
                            border: 0;
                            padding: 11px 16px;
                            width: 282px;
                            max-width: 100%;
                            border-radius: 4px;
                            background: var(--Light-White, #FFF);
                            
                        }

                        input::placeholder {
                            color: var(--Light-Gray-dark, #737B7D);
                            font-family: Poppins;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 20px;
                            letter-spacing: 0.2px;
                        }

                        button {
                            border: 0;
                            color: var(--Light-White, #FFF);
                            text-align: center;
                            font-family: Poppins;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 18px; /* 112.5% */
                            letter-spacing: 0.3px;
                            border-radius: 4px;
                            background: #0086D6;
                            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
                            padding: 12px 31px;
                        }
                    }
                }
            }
        }
        .footer-subscription::after {
            display: block;
            content: '';
            width: 100%;
            height: 1px;
            background-color: #666;
        }

        .main-footer {
            background: #1F2E35;
            padding-top: 50px;
            .container {
                .footer-content {
                    display: flex;
                    justify-content: space-between;

                    .logos {
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;

                        .main-logo {
                            display: flex;
                            gap: 1rem;
                            align-items: center;

                            p {
                                color: #F4F4F4;
                                font-family: Inter;
                                font-size: 28px;
                                font-weight: 700;
                                line-height: 35px;
                                /* 125% */
                            }
                        }

                        .socials {
                            display: flex;
                            gap: 16px;

                            .social-circle {
                                background-color: white;
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }

                    ul:before {
                        content: attr(aria-label);
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 30px;
                        padding-bottom: 0.5rem;
                    }

                    ul {
                        li {
                            a {
                                color: #FFF;
                                font-family: Poppins;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 35px;
                            }
                        }
                    }

                    .resource {
                        padding: 0 24px 27px 0;
                    }

                    .legal {
                        padding-bottom: 27px;
                    }

                }
            }
        }

        .rights {
            background: #1D292F;
            padding: 15px 0;

            .container {
                p {
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 30px;
                    /* 187.5% */
                    text-align: center;
                }
            }
        }
    }
}

.section-heading {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.2px;
    text-align: center;
    margin-bottom: 1rem;
}

.section-subheading {
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

@keyframes rotateL {
    @include generateRotate(0);
}





.container {
    width: 100%;
    margin: auto;
}



@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}