@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Outfit:wght@700&family=Poppins&family=Press+Start+2P&display=swap');
@import url(../styles/interFont.css);

body {
    main {
        margin-bottom: 63px;
        .hero {
            background-color: #1F2E35;
            padding: 156px 0;
            background-image: url(../assets/groupRecs.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
            .container {
                h1, h4, a {
                    color: #FFF;
                    font-family: Poppins;
                    text-align: center;
                }
                h4, a {
                    font-size: 20px;
                }
                h1 {
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 32px; /* 80% */
                    letter-spacing: 0.2px;
                    margin-bottom: 24px;
                }
                h4 {
                    line-height: 150%; /* 30px */
                    margin-bottom: 36px;
                }
                a {
                    display: inline-block;
                    margin: auto;
                    line-height: 61px; /* 305% */
                    letter-spacing: 0.2px;
                    text-transform: capitalize;
                    border-radius: 8px;
                    background: #0086D6;
                    padding: 0 27px 5px 27px;
                }
                .hero-explore {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .most-popular {
            padding-top: 51px;
            .container {
                .card-grid {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    column-gap: 31px;
                    row-gap: 50px;
                    .card {
                        padding: 20px 21px 21px 20px;
                        width: 100%;
                        .img-wrapper {
                            height: 187px;
                            border-radius: 5px;
                            background: #F5F5F5;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        .card-body {
                            .card-heading {
                                margin: 28px 0 8px 0;
                            }
                        }
                    }
                }
                .grid-nav {
                    display: flex;
                    gap: 4px;
                    margin-top: 70px;
                    justify-content: center;
                    input[type=radio] {
                        display: none;
                    }
                    .grid-nav-el {
                        color: #1F2E35;
                        font-family: Poppins;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 32px; /* 160% */
                        letter-spacing: 0.2px;
                        border-radius: 2px;
                        border: 1px solid rgba(0, 0, 0, 0.20);
                        background: #FFF;
                        cursor: pointer;
                        padding: 4px 14px;
                        text-align: center;
                    }
                    label {
                        width: 40px;
                    }
                    input[type=radio]:checked + label {
                        color: white;
                        background: #1F2E35;
                        width: 40px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1000px) {
    body {
        main {
            margin-top: 70px;
            .most-popular {
                .container {
                    .card-grid {
                        grid-template-columns: 1fr 1fr;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 660px) and (max-width: 700px) {
    body {
        main {
            .hero {
                background-position: 50% 100% !important;
            }
        }
    }
}
@media screen and (max-width: 700px) {
    body {
        main {
            .hero {
                padding: 79px 0 162px 0;
                background-image: url(../assets/responsiveBack.png);
                background-repeat: no-repeat;
                background-position: 50% calc(100% - 39px);
                .container {
                    .hero-wrapper {
                        h1 {
                            font-size: 36px;
                        }
                        h4 {
                            margin-bottom: 2rem;
                        }
                    }
                }
            }
            .most-popular {
                .container {
                    .card-grid {
                        grid-template-columns: 1fr;
                    }
                    .grid-nav {
                        margin-top: 50px;
                    }
                }
            }
        }
    }
}